{% extends 'base.html' %}

{% block conteudo %}
<h2>Atualizar Mensagem</h2>
<form method="post">
    <div class="form-group">
        <label for="conteudo-original">Conteúdo Original:</label>
        <input type="text" class="form-control" id="conteudo-original" value="{{mensagem.conteudo}}" readonly disabled>
    </div>
    
    <div class="form-group">
        <label for="novo-conteudo">Digite o Novo Conteúdo:</label>
        <input type="text" class="form-control" id="novo-conteudo" name="conteudo" required>
    </div>

    <button class="btn btn-lilas"  type="submit">Atualizar Mensagem</button>
</form>
{% endblock %}